	html, body {
		height: 100vh;
		margin: 0;
		font-family: sans-serif;
		background-color: #fff;
		color: #15334F;
	}
	h1, h2, h3 {
		line-height: 1.3;
	}
	h1 {
		font-size: 1.75rem;
	}
	h2, h3 {
		text-align: center;
	}
	h3 {
		margin-top: 2rem;
	}
	img {
		display: block;
		margin: auto;
	}
	p {
		line-height: 1.5;
	}
	a {
		color: #1d315e;
		margin-
	}
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 600px;
		margin: 0 auto;
		padding: 0.25rem;
	}
	#logo {
		width: 180px;
	}
	.nav-links {
		margin-right: 1rem;
	}
	.nav-links a {
		text-decoration: none;
	}
	.section {
		padding: 2rem 0;
	}
	.banner {
		background-image: url("assets/banner.jpg");
		background-size: cover;
		background-position: center; 
		height: 33vh;
	}
	.header, .footer {
		text-align: center;
		background-color: #f9f9f9;
	}
	.card {
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, .04);
		text-align: center;
		border-radius: 0.5rem;
		background-color: #fff;
		padding: 2rem;
	}
	.btn {
		padding: 1rem 2rem;
		border-radius: 3rem;
		text-decoration: none;
		font-weight: 600;
		display: inline-block;
		margin: 0.5rem;
	}
	.btn-primary {
		background-color: #007AFF;
		color: white;
		border: 2px solid #007AFF;
	}
	.btn-secondary {
		color: #007AFF;
		border: 2px solid #007AFF;
	}
	.container {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 1rem;
	}
	.creds {
		opacity: 0.5;
	}
	.creds a {
		text-decoration: none;
	}
	@media only screen and (max-width: 600px) {
		h1, h2 {
			font-size: 1.25rem;
		}
	}